    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{contextPath}}/tools/bootstrap/dist/css/bootstrap.min.css" >
    <link href="{{contextPath}}/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{contextPath}}/images/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{contextPath}}/images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{contextPath}}/images/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{contextPath}}/images/favicon/favicon-32x32.png" />

    <link rel='stylesheet' href='{{contextPath}}/stylesheets/style.css' />
 