extends layout

mixin note(id, type)
  - var url= "/diff/" + id
  li
    a(href=url) #{id} #{type}


block content
  h1= title
  p Welcome to #{title}
  form(action='/diff/', method='POST')
    div.form-group
      label(for='noteid') Note ID:
      input#noteid.form-contorl(type='text', placeholder='Enter Note ID', name='noteid')
    button.btn.btn-primary(type='submit') View 
  for item in notes
    +note(item.ID, item.note_type)
