<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>

    <link rel="stylesheet" href="{{contextPath}}/tools/bootstrap/dist/css/bootstrap.min.css" >
    <link href="{{contextPath}}/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{contextPath}}/images/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{contextPath}}/images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{contextPath}}/images/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{contextPath}}/images/favicon/favicon-32x32.png" />

    <link rel='stylesheet' href='{{contextPath}}/stylesheets/style.css' />
 

  </head>
  <body>
        <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{contextPath}}/">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{contextPath}}/">Home <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sample Notes</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                {{#each notes}}
                  <a class="dropdown-item" href="{{contextPath}}/diff/{{ID}}">{{note_type}}</a>
                {{/each}}
            </div>
          </li>
          </ul>
          <form action="{{contextPath}}/diff/" method="POST" class="form-inline mt-2 mt-md-0">
            <input id="noteid" name="noteid" 
              class="form-control mr-sm-2" type="text" 
              placeholder="Enter Note Id" 
              aria-label="Enter Note Id">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
          </form>
        </div>
      </nav>
    </header>
    <main >
      <br>
      {{{body}}}
    </main>


    <footer class="footer">
      <div class="container">
        <span class="text-muted">ICTS Biomedical Informatics</span>
      </div>
    </footer>

    <script type="text/javascript" src="{{contextPath}}/tools/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="{{contextPath}}/tools/diff/dist/diff.js"></script>
    <script type="text/javascript" src="{{contextPath}}/tools/popper.js/dist/popper.js"></script>
    <script type="text/javascript" src="{{contextPath}}/tools/bootstrap/dist/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="{{contextPath}}/javascripts/diff.js"></script> 

  </body>
</html>
